.todo-item {
    background-color: #d0a350;
    color: black;
    font-weight: bold;
    padding: 15px 10px;
    margin-bottom: 5px;
    border-radius: 10px;
    position: relative;
}

.todo-item:hover {
    background-color: #e0bd7b;
}

input {
    vertical-align: middle;
    outline: none;
    margin-right: 5px;
}

span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.488);
    font-weight: bold;
}